

<body>

    <div class="main">
        <div class="wrap">
            
        </div>
        <!--cards -->

        <div class="card" *ngFor="let club of club">

            <div class="title">
                <a> College Club Name</a> 
                <div>{{club.payload.doc.data().name}}</div>
            </div>
            
            <div class="title">
                <a> College State</a> 
                <div>{{club.payload.doc.data().address}}</div>
            </div>
        </div>
    </div>
</body>