<body>
    <!--==========================
  Header
  ============================-->
    <header id="header" class="header">

        <div id="topbar">
            <div class="container"></div>
        </div>

        <div class="container mynav">

            <div class="logo float-left">
                <h1 class="text-light"><a href="#intro" class="scrollto"><span>karaniya</span></a></h1>
            </div>

            <nav class="main-nav">

                <ul class="mainlist">
                    <li class="active"><a href="#intro">Home</a></li>
                    <li><a (click)="goTo('about')">About Us</a></li>
                    <li class="drop-down"><a href="">Register</a>
                        <ul class="ddul">
                            <li><a (click)="goToPage('registerngo')">NGO</a></li>
                            <li><a (click)="goToPage('Registerindividual')">Individual</a></li>
                            <li><a (click)="goToPage('Registerclub')">University or College Club</a></li>
                        </ul>
                    </li>
                    <li class="drop-down"><a href="">Search</a>
                        <ul class="ddul">
                            <li><a (click)="goToPage('searchuser')" >People registered</a></li>
                            <li><a (click)="goToPage('searchNGO')" >Nearby Registered NGO</a></li>
                            <li><a (click)="goToPage('searchclub')">Nearby University or College Club</a></li>
                        </ul>
                    </li>
                    <li><a (click)="goTo('faq')">FAQ</a></li>
                    <li><a (click)="goTo('footer')">Contact Us</a></li>
                    <li *ngIf="user"><a (click)="logout()">Logout</a></li>
                    <li *ngIf="!user"><a (click)="goToPage('signin')">Signin</a></li>
                </ul>
            </nav>
            <!-- .main-nav -->

        </div>
    </header>
    <!-- #header -->

    <!--==========================
    Intro Section
  ============================-->
    <section id="intro" class="clearfix">
        <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <div class="col-md-6 intro-info order-md-first order-last">
                    <h2>We can't help everyone... <br>
                        <span>But everyone can help someone!!</span></h2>
                    <div>
                        <a  (click)="goToPage('signin')" class="btn-get-started scrollto">Get Started</a>
                    </div>
                </div>

                <div class="col-md-6 intro-img order-md-last order-first">
                    <img src="../../assets/img/Screenshot__322_-removebg-previe.png" alt="" class="img-fluid">
                </div>
            </div>

        </div>
    </section>
    <!-- #intro -->

    <main id="main">


        <!--==========================
      Why Us Section
    ============================-->
        <section id="about">

            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="../../assets/img/aboutus.png" alt="">
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-6">
                        <div class="about-content">
                            <h2>About Us</h2>
                            <h3>The recent generation lacks the art of giving back to society. Our website focuses on imbibing the feeling of generosity and nobility amongst the heedless crowd. We want to create a safe place for individual to make a donation
                                or Volunteer and create a community for all the social welfare clubs of different colleges or universities in close proximity to communicate and collaborate on different welfare projects so that society can benefit from
                                the actions of emerging youth. <br>We have initiated this project to create a one-stop solution for users which includees</h3>
                            <ul>
                                <li> Search nearby NGO who are willing to accept donations or in need of volunteers</li>
                                <li> Registered NGO'S/USERS/clubs will be displayed </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!--==========================
      Features Section
    ============================-->
        <section id="features">
            <div class="container">

                <div class="row feature-item">
                    <div class="col-lg-6 wow fadeInUp">
                        <img src="../../assets/img/searchnearby.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                        <h4><br><br><br><br> Search nearby </h4>
                        <p>
                            Users can search for NGO and College social welfareclub registered with our website within the vicinity where the person resides. The users can also filter the search results according to their preference of domain. (e.g., old age home, orphanage, etc).
                        </p>

                    </div>
                </div>

                <div class="row feature-item mt-5 pt-5">
                    <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                        <img src="../../assets/img/ngo_register.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                        <h4> <br> <br><br><br> Register as an NGO</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit illo suscipit illum ullam at? Quo inventore incidunt totam doloremque expedita, eaque in, officiis perferendis labore ipsum sed, eligendi tempora nisi?
                        </p>


                    </div>

                </div>

            </div>

            <div class="container">

                <div class="row feature-item">
                    <div class="col-lg-6 wow fadeInUp">
                        <img src="../../assets/img/club_register.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                        <h4> <br><br> <br><br> Register as an University or College club</h4>
                        <p>
                            Our website allows various social welfare clubs from different universities to register themselves and collaborate with each other and to organize events in various non-profit organizations. Our goal is to help the process of instilling philanthropic
                            values in youth.
                        </p>

                    </div>
                </div>

                <div class="row feature-item mt-5 pt-5">
                    <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                        <img src="../../assets/img/indi_reg.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                        <h4> <br> <br><br><br> Register as an individual</h4>
                        <p>
                            Karaniya allows users to register themselves as an individual and decide the cause and goal of the NGO for which they wish to donate or volunteer our website will help you get connect to NGO and provide you with the essential details for the process.
                        </p>
                    </div>
                </div>
            </div>
        </section>


        <!-- #about -->



        <!--==========================
      Frequently Asked Questions Section
    ============================-->
        <section id="faq">
            <div class="container">
                <header class="section-header">
                    <h3>Frequently Asked Questions</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
                </header>

                <ul id="faq-list" class="wow fadeInUp">
                    <li>
                        <a data-toggle="collapse" class="collapsed" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="ion-android-remove"></i></a>
                        <div id="faq1" class="collapse" data-parent="#faq-list">
                            <p>
                                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="ion-android-remove"></i></a>
                        <div id="faq2" class="collapse" data-parent="#faq-list">
                            <p>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
                                cursus turpis massa tincidunt dui.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="ion-android-remove"></i></a>
                        <div id="faq3" class="collapse" data-parent="#faq-list">
                            <p>
                                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna
                                molestie at elementum eu facilisis sed odio morbi quis
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="ion-android-remove"></i></a>
                        <div id="faq4" class="collapse" data-parent="#faq-list">
                            <p>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
                                cursus turpis massa tincidunt dui.
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="ion-android-remove"></i></a>
                        <div id="faq5" class="collapse" data-parent="#faq-list">
                            <p>
                                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                            </p>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="ion-android-remove"></i></a>
                        <div id="faq6" class="collapse" data-parent="#faq-list">
                            <p>
                                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque
                                diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                            </p>
                        </div>
                    </li>

                </ul>

            </div>
        </section>
        <!-- #faq -->

    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer" class="section-bg">
        <div class="footer-top">
            <div class="container">

                <div class="row">

                    <div class="col-lg-6">

                        <div class="row">

                            <div class="col-sm-6">

                                <div class="footer-info">
                                    <h3>Karaniya</h3>
                                    <p>enables people to give donations or volunteer at a particular non-profit organization from a variety of NGOs and create a communication platform for various social welfare clubs from different colleges/universities
                                        to communicate.</p>
                                </div>



                            </div>

                            <div class="col-sm-6">
                                <div class="footer-links">
                                    <h4>Useful Links</h4>
                                    <ul>
                                        <li><a href="#intro">Home</a></li>
                                        <li><a href="#why-us">About us</a></li>
                                        <li><a href="#faq">Register</a></li>
                                        <li><a href="#faq">Search</a> </li>
                                        <li><a href="#faq">FAQ</a></li>

                                    </ul>
                                </div>

                                <div class="footer-links">
                                    <h4>Contact Us</h4>
                                    <p>
                                        <strong>Phone:</strong> +91 9876543210 <br>
                                        <strong>Email:</strong> info@example.com<br>
                                    </p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="form">

                            <h4>Send us a message</h4>

                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>

                                <div id="sendmessage">Your message has been sent. Thank you!</div>
                                <div id="errormessage"></div>

                                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
                            </form>
                        </div>

                    </div>



                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>CPR CREW</strong><br> All Rights Reserved
            </div>
            <div class="credits">


            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!--<div id="preloader"></div>-->

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/mobile-nav/mobile-nav.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

</body>